{% extends "base.html" %}

{% block head_title %}Supporters | Speakeasy{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Contributors | Speakeasy" />
  <meta name="twitter:title" content="Contributors | Speakeasy" />

  <meta name="description" content="These are the people that are building a cooperative social media by humans, for humans." />
  <meta property="og:description" content="These are the people that are building a cooperative social media by humans, for humans." />
  <meta name="twitter:description" content="These are the people that are building a cooperative social media by humans, for humans." />

  <meta property="og:url" content="https://spkeasy.social/supporters" />
  <meta name="twitter:url" content="https://spkeasy.social/supporters" />

  <meta property="og:image" content="https://spkeasy.social/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://spkeasy.social/static/social-card-default-gradient.png" />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}
